#sect1 {  
    height: 650 px;  
    color: #fff;background-image: url("C:/Users/cogdotnet906/source/repos/Angularprjct/Angularprjct/src/assets/Images/Flight1.jpg");  
    background-size: 100% ;  
    background-size: cover;  
}  