<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <app-test></app-test>

 -->
 <nav class="navbar" style="background-color: rgba(33, 15, 196, 0.822);">
   <label style="color: white; font-weight: bolder;">FlightBooking</label>
   <div style="margin-left: 20%;">
   
   <button class="btn btn-primary" type="button" (click)="logout()">Logout</button>
  </div>
  </nav>
<!-- <app-size1 [Size]="fontsize1" (sizechange)="fontsize1=$event"></app-size1>
<label [style.font-size.px]="fontsize1">Fontsize: {{fontsize1}}</label>
<app-login></app-login>
<app-form1></app-form1> -->
<!-- <app-reactiveform></app-reactiveform>
<app-template-driven></app-template-driven> -->
<!-- <app-login-component></app-login-component> -->
<!-- <app-main-component></app-main-component> -->
<!-- <app-register></app-register> -->
<!-- <app-add-airline></app-add-airline> -->
<!-- <app-block-airline></app-block-airline> -->
<!-- <app-loginscreen></app-loginscreen> -->
<!-- <router-outlet></router-outlet> -->
<!-- <label style="color: white; font-weight: bolder;">{{Usrname}}</label>&nbsp; -->
<router-outlet></router-outlet>